@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --dark: #2B2830;
  --light: #e0e0e0;
  --gray: #bababa;
  --primarylight: #795EFF;
  --primarybg: #3B325A;
  --green: #4bd14b;

  --titleFont: 2rem;
  --primaryFont: 1.4rem;
  --secFont: 1rem;
  --terFont: 0.8rem;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--dark);
  color: var(--light);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  padding: 2.5rem 2rem;
  height: auto;
  width: auto;

  border-radius: 5px;
  border: 1px solid var(--primarylight);
  background-color: var(--primarybg);



  h1 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;

    color: var(--light);
    font-size: var(--titleFont);

  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }


  #outputs {
    margin-top: 24px;
    padding: 1rem 0.4rem;
    border-radius: 5px;
    display: none;

    /* border: 1px solid var(--green) ; */
  }

  #btns {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    .sbmt {
      color: black;
      background-color: var(--green);
      width: 60%;

    }

    .clr {
      color: black;
      background-color: rgb(226, 58, 58);
      width: 40%;
      margin-right: 10px;
    }

    #sbmt,
    #clr {
      font-weight: bold;
      transition: .3s ease-out;
      box-shadow: 0 10px black;
      border: 1px solid black;
      position: relative;
      overflow: hidden;

    }

    #sbmt::after,
    #clr::after {
      content: " ";
      width: 120px;
      height: 20px;
      background-color: rgba(255, 255, 255, 0.541);
      filter: blur(10px);
      position: absolute;
      left: -80px;
      top: -10px;
      rotate: -45deg;
      transition: .5s ease-in-out;
    }

    #sbmt:hover,
    #clr:hover {
      transform: translateY(5px);
      box-shadow: 0 0px black;



    }


    #clr:hover::after,
    #sbmt:hover:after {
      translate: 170px 50px;
    }
  }




  button {
    cursor: pointer;
    border: none;
    padding: .5rem;
    border-radius: 5px;
    margin: 1rem 0;

  }


  .inputfields {
    /* border: 1px solid; */
    width: 100%;
    position: relative;


    display: flex;
    flex-direction: column;
    gap: 12px;




    .inpt1 {

      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        width: 50%;
        text-wrap: nowrap;
      }

      input,
      :optional {

        width: 100%;
        margin-left: 10px;
        color: var(--dark);
        padding: 0 0.4rem;
        height: 2rem;
      }

      #index {
        text-transform: uppercase;
      }

      select option:active {
        background-color: red;
      }


    }
  }



}
